.chatbot-messages {
  overflow-y: auto;
  background-color: #999;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
  border: 2px solid #444;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  text-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
}

.message span {
  width: 80%;
  word-wrap: break-word;
}

.message img {
  float: left;
  margin: 0px 10px;
  border-radius: 50%;
  width: 30px;
}

.user .message img {
  float: right;
}

.bot {
  justify-content: left;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
}

.user {
  justify-content: right;
  padding: 5px;
  border-radius: 5px;
  text-align: end;
  color: #ccc;
}
